@font-face {
    font-family: 'iranSans';
    src: url('../fonts/iranSans.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body, h1, h2, h3, h4, h5, h6, p, a, li, span, div {
    font-family: 'IranSans', sans-serif !important;
}

